name: Test
on:
  - push
  - pull_request

jobs:
  test:
    name: Run tests
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        composer-version:
          - "2"
    steps:
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJSON(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Select composer version 
        run: |
          composer self-update --${{ matrix.composer-version }}
          composer require --dev composer/composer:^${{ matrix.composer-version }}
          composer --version

      - name: Validate composer.json
        run: composer --verbose validate

      - name: Install dependencies
        run: composer --verbose install

      - name: Symlink phpstan config
        run: ln -s phpstan-${{ matrix.composer-version }}.neon phpstan.neon

      - name: Run tests
        run: composer test
